body{
    background: black;
    margin: 0;
    font-family: Helvetica sans-serif;
}
.body{
    background-color: black;
}
.section{
    background-image: url(images/bg-1.png);
    height: 100vh;
    background-size: cover;
}
.logo{
    margin-top: 18px;
    margin-left: 70px;
}


.signin{
    border-radius: 2px;
    height: 32px;
    padding: 0;
    width: 75px;
    margin-top: -8px;
    margin-right: 15vh;
}
.dropdown{
   
    height: 32px;
    border-radius: 2px;
}
.text{
    margin-top: 13%;
}
.inner-text{
    font-weight: 800;
    font-size: 60px;
}
.inner-text1{
    font-size: 20px;
    font-weight:600;
}
.inner-text2{
    font-weight: 400;
    font-size: 16px;
}
@media screen and (max-width:550px){
   .signin{
    margin-right: 0;
   }
   .logo{
    margin-left: 0;  
 }
}
@media screen and (max-width:400px){
    #english{
        width: 20px;
        height: 30px;
    }
}

#search-bar{
    background: black;
    border: 1px solid rgb(142, 142, 142);
    border-radius: 5px;
    margin-left: 30%;
    width: 30%;
    color: lightgray;
}
#search-bar-btn{
    background: red;
    height: 57px;
    margin-top: -6px;
    width: 150px;
    font-size: 18px;
    font-weight: 600;
}
@media screen and (max-width:1250px) {
    .inner-text{
        font-size: 40px;
    }
    .inner-text1{
        font-size: 18px;
    }
    
}
@media screen and (max-width:950px) and (min-width:600px) {
    #search-bar{
        width: 200px;
        
    }
}
@media screen and (max-width:483px) {
    #search-bar{
        width:95% ;
        margin-left: 10px;
    }
    #search-bar-btn{
        margin-top: 11px;
        margin-left: 27%;
    }
    
}
@media screen and (max-width:500px) and (min-width:484px) {
    .inner-text{
        font-size: 30px;
    }
    #search-bar{
        width: 60%;
        margin-left: 20px;
    }
}

.row2{
    padding-left: 10%;
    padding-right: 10%;
}
@media screen and (max-width:767px) {
    .b3{
        display: none;
    }
    .b2{
        display: none;
    }
}
@media screen and (max-width:575px) {
    .b1{
        display: none;
    }
    
}
.row3{
    padding-left: 10%;
    padding-right: 10%;
}
.row4{
    padding-left: 10%;
    padding-right: 10%;
}
.row5{
    padding-left: 10%;
    padding-right: 10%;
}
@media screen and (max-width:1200px) and (min-width:768px) {
    .bx1{
        display: none;
    }
}